<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カードを捲るアニメーションプログラム</title>
</head>
<body>
    </div>
        <div>
            <img id='img00' src='/assets/img/backcard.png' onclick="imgwin('img00')"/>
            <img id='img01' src='/assets/img/backcard.png' onclick="imgwin('img01')"/>
            <img id='img02' src='/assets/img/backcard.png' onclick="imgwin('img02')"/>
            <img id='img03' src='/assets/img/backcard.png' onclick="imgwin('img03')"/>
            <img id='img04' src='/assets/img/backcard.png' onclick="imgwin('img04')"/>
            <img id='img05' src='/assets/img/backcard.png' onclick="imgwin('img05')"/>
            <img id='img06' src='/assets/img/backcard.png' onclick="imgwin('img06')"/>
            <img id='img07' src='/assets/img/backcard.png' onclick="imgwin('img07')"/>
            <img id='img08' src='/assets/img/backcard.png' onclick="imgwin('img08')"/>
            <img id='img09' src='/assets/img/backcard.png' onclick="imgwin('img09')"/>
            <img id='img10' src='/assets/img/backcard.png' onclick="imgwin('img10')"/>
            <img id='img11' src='/assets/img/backcard.png' onclick="imgwin('img11')"/>
            <img id='img12' src='/assets/img/backcard.png' onclick="imgwin('img12')"/>
            <img id='img13' src='/assets/img/backcard.png' onclick="imgwin('img13')"/>
            <img id='img14' src='/assets/img/backcard.png' onclick="imgwin('img14')"/>
            <img id='img15' src='/assets/img/backcard.png' onclick="imgwin('img15')"/>
        </div>
        <div>
            <button id="button">めくる</button>
            <button id="button_shuffle">Shuffle</button>
            <button id="button_reset">Reset</button>
        </div>
    <div>
    <script src='/assets/cardTurning.js'></script>
</body>
</html>
